@media print {
  @page {
    margin:0;
    size: Letter;
    margin-bottom: 1rem;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
  .page-wrapper { min-height: 0rem !important; }
  .generate-wrapper { padding: 0;}

  #manager-feedback { 
    padding: 0rem !important;
    min-height: 0rem !important;
    max-height: 5.5rem;
    height: auto;
  }
  .italic-on-print {font-style: italic;}

  .margin-top-page-two { margin-top: 1cm; height: 0; display: initial;}
  body { margin: 1cm;}
  body, * { font-family: 'Helvetica', 'Arial', sans-serif; }
  h1 { font-size: 1.3rem; }
  h2, .tabs label { font-size: 1.2rem; }
  h3, .checkboxes-wrapper label, .page-title { font-size: 1.1rem; }
  h4 { font-size: 1rem; color: var(--black); }
  h5 { font-size: 0.9rem; color: var(--black); font-weight: 500; }
  p { font-size: 0.8rem; color: var(--black) }
  .sections-wrapper { margin: 0rem; }
  .btn, .extra-space, .info-icon, header, footer, .first-assist-wrapper { display: none; }
  input, textarea, select, option {
    outline: none;
    border: none;
    resize: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    min-height: 1.25rem;
    font-size: 0.8rem; 
    color: var(--black)
  }
  input, #strategic-objective { margin-left: 0.2rem;}
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--black)!important;
  }
  input, #strategic-objective { margin-left: 0.2rem;}
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .purple-section { border: none; }
  #date { display: initial; }
  .purple-section h3 { color: var(--purple); }

  .form-group { display: block; }

  ::-webkit-input-placeholder { color: transparent; }
  :-moz-placeholder { color: transparent; }
  ::-moz-placeholder { color: transparent; }
  :-ms-input-placeholder { color: transparent; }
  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) { color: transparent; }
  ::-webkit-scrollbar { display: none; }
  .purple-section .section-title {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
    background-color: var(--purple) !important;
  }

  .section-title, .section-subtitle {
    justify-content: center;
    clip-path: polygon(0% 0%, 98% 0%, 100% 50%, 98% 100%, 0% 100%);
    padding: 0.3rem;
  }
.subsection-wrapper {
  margin-top: 0.5rem;
}
  .section-subtitle {
     print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
    background-color: var(--purpleWithOpacity);
    border: none;
}
.subsection-content { border: none;}

.checkboxes-wrapper label { color: var(--black);}

  .special-flex {
    display: flex;
    justify-content: flex-start;
  }
  .special-flex.items-start {
    align-items: flex-start;
  }
  .no-flex-on-print {
    display: block;
  }
  #account, #meeting-date {
    width: auto;
  }
  #strategic-objective {
    width: calc( 100% - 9rem );
  }

  .container input:checked ~ .checkmark {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
    background-color: var(--green);
  }

  .strategic-objective { width: auto; }
  .form-group { margin: 0!important; }
  h4.mr-05 { margin: 0; }
  .arrow-wrapper { display: none; }
  .pcp-section .section-content {
    height: auto;
    overflow: visible;
    padding: 0.7rem;
    padding-bottom: 0;
  }
  .tabs label.container {
    border: none;
  }
  .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3rem;
  }
  .bottom br { display: none;}
  .bottom p { margin: 0; }

  .print-tab-arrow {
    width: 1rem;
    height: 100%;
    position: absolute;
    right: 0;
  }
   .border-line {
    position: absolute;
    width: 2px;
    height: 50%;
    transform-origin: 0% 0%;
    background-color: var(--purple);
   }
   .border-line.top-line {
    top: 0;
    transform: rotate(-35deg);
   }
   .border-line.bottom-line {
    bottom: 0;
    transform: rotate(35deg);
   }
   .private-notes { display: block;}
   hr {
    border: none;
    border-top: 1px dotted var(--darkGrey);
    color: #fff;
    background-color: #fff;
    height: 1.875rem;
    width: 100%;
   }

  .text-right { text-align: right; }

  .meets input:checked ~ .checkmark {
  background-color: var(--green);
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact; 
}
  .gap input:checked ~ .checkmark {
    background-color: var(--orange);
    border-color: var(--orange);
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  }
  .subsection-content { 
    display: block; 
    padding: 0.5rem;
    padding-bottom: 0;
  }
  .plan-competency, .pc-feedback { width: 100%;}
  .plan-competency { margin-bottom: 1rem; }
  .pc-feedback { padding-bottom: 0;}

.meets-form-group.special-pb{
    padding-bottom: 0;
}

  .meets-form-group.grey-bg {
    background-color: var(--lightGrey);
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  }
  .textarea-style {
    height: 1.25rem;
  }
  .hide-on-print {
    display: none;
  }
  .pcp-section.close .section-content, .close .subsection-content { display: block; }

  #rep-name, #account { width: calc( 100% - 5.8rem );}
  /* .shared {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .shared, .private {
     background-color: var(--purpleWithOpacity);
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  } */
}
